<div class="card-container">
  {{#each items as |item|}}
    <div class="card col-md-4 col-sm-6">
      {{#if item.img}}
        <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
      {{/if}}
      <div class="card-body">
        <h4 class="card-title">{{item.name}}</h4>
      </div>
    </div>
  {{/each}}
</div>