@import "bootstrap";

h2{
  font-size: 18px;
  color: #cfcfcf;
}

img{
  width: 100%;
}

.navbar-toggle .icon-bar{
  background-color: #2e2e2e;
}

body{
  padding-top: 20px;
  text-align: center;
}

.title{
  margin-top: 60px;
}

.logo{
  margin-top: 10%;
  width: 150px;
}
.slogan{
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.4em;
}
.code-highlight{
  color: #f6ae42;
}

.card-container{
  padding: 60px 0px;
}
.card{
  margin-bottom: 30px;
}
.card-body{
  border: 1px solid #f5f5f5;
}

.navbar-brand{
  font-weight: 800;
}
.navbar-brand:hover{
  color: #3693cc;
}
.nav li.active a{
  background: transparent;
}
.nav li.active a{
  font-weight: 800;
}
.nav li a:hover{
  color: white;
  background-color: #3693cc;
  cursor: crosshair;
}

.navbar-toggle:hover{
  background-color: #3693cc;
  color: white;
}
.navbar-toggle:hover .icon-bar{
  background-color: white;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 767px) {
  body{
    padding-top: 0px;
  }
  .nav li {
    border-bottom: 1px solid #f5f5f5;
  }
}