<h2 class="title"><span class="code-highlight">{{ "<works>" }}</span> we've done so far</h2>

<div class="card-container">
  <div class="card col-md-4 col-sm-6">
    <img class="card-img-top" src="assets/images/works/university-of-santo-tomas.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">University of Santo Tomas</h4>
    </div>
  </div>

  <div class="card col-md-4 col-sm-6">
    <img class="card-img-top" src="assets/images/works/delasalle-publishing-house.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">DLSU Publishing House</h4>
    </div>
  </div>

  <div class="card col-md-4 col-sm-6">
    <img class="card-img-top" src="assets/images/works/hnicem.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">IEEE HNICEM</h4>
    </div>
  </div>
</div>
